<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
{% include 'content/navbar.html' %}

   <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <h1 class="text-8xl text-center, font-bold">404 - NADA POR AQUI</h1>
  </div>

</section>

</body>
</html>
